* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.orange-back{
    background-color:#ff9a4b;
    height:50px;
}

main{
    padding-top:50px;
    padding-bottom:50px;
    display:flex;
    justify-content: center;
}

.main-visual{
    width:960px;
    display:flex;
    justify-content: center;
}

.contents-item{
    height:310px;
    border:10px solid #EEEEEE;
    background-color:#EEEEEE;
    position:relative;
    display:inline-block;
    margin-top: 50px;
}

.contents-item:nth-child(2){
    margin:50px 30px;
}

.phot-back-1{
    width:300px;
    height:150px;
    background-image:url(img/flow01.png);
    background-size:cover;
    object-fit:cover;
}

.phot-back-2{
    width:300px;
    height:150px;
    background-image:url(img/flow02.png);
    background-size:cover;
    object-fit:cover;
}

.phot-back-3{
    width:300px;
    height:150px;
    background-image:url(img/flow03.png);
    background-size:cover;
    object-fit:cover;
}

.heading{
    position:absolute;
    top:0;
    left:0;
    transform: translate(-30%,-41%);
    background-color:#ff9a4b;
    color:white;
}

footer{
    height:50px;
    width:100%;
    background-color: #aaaaaa;
}